body {
  font-family: Helvetica;
  max-width: 500px;
  margin: 0 auto; // Center the content
  padding-left: 1em;
  padding-right: 1em;
}

#site_title {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 3em;
  a {
    color: white;
    text-decoration: none;
  }
}

#breadcrumbs {
  color: black;
  background-color: lightblue;
  text-decoration: none;
  padding-left: 10px;

  a {
    color: black;
    background-color: lightgray;
    text-decoration: none;
  }
}


#datebar {
  text-align: right;
}


#page_content {
  img { max-width: 500px; }
}

#post_list {
  p { margin: 0;}
}
